.el-form__item__label{
        .el-form-item__label{
            
            padding: 0 26px 0 0;
        }
        .el-input{
            margin-left: -10px !important;
        }
        .el-button--primary{
            margin-left: 60px !important;
        }
        .el-card__body{
            padding: 0;
        }
        .el-form__item__label .el-input  {
            margin-left: 0px !important;
        }
}